@tailwind base;
@tailwind components;
@tailwind utilities;

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.table-responsive-sm {
  max-height: 70vh;
  overflow: scroll;
}
